<a href="https://colab.research.google.com/github/abeyjohn/Coursera-Deep-Learning/blob/master/Day_45_DSML_Advanced_Pandas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

KeyboardInterrupt: ignored

In [8]:
movies=pd.read_csv("movies.csv")
director=pd.read_csv("directors.csv")

In [9]:
data=pd.merge(movies,director,left_on="director_id",right_on="id",how="inner")

Feature transformation

In [10]:
data.columns

Index(['Unnamed: 0_x', 'id_x', 'budget', 'popularity', 'revenue', 'title',
       'vote_average', 'vote_count', 'director_id', 'year', 'month', 'day',
       'Unnamed: 0_y', 'director_name', 'id_y', 'gender'],
      dtype='object')

In [13]:
def sub_avg(x):
  x=x-x.mean()
  return x

def sub_percentie(x):
  x=x-x.quantile(.75)
  return x

transform applies the funtion on the selected column only

In [15]:
data['is_exepnsive_quantile']=data.groupby('director_name')['budget'].transform(sub_percentie)
data['is_expensive_mean']=data.groupby('director_name')['budget'].transform(sub_avg)

In [16]:
data.head(5)

,Unnamed: 0_x,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,Unnamed: 0_y,director_name,id_y,gender,is_exepnsive_quantile,is_expensive_mean
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,0,James Cameron,4762,Male,79500000.0,130300000.0
1,25,43622,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday,0,James Cameron,4762,Male,42500000.0,93300000.0
2,279,43876,100000000,101,520000000,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,0,James Cameron,4762,Male,-57500000.0,-6700000.0
3,282,43879,115000000,38,378882411,True Lies,6.8,1116,4762,1994,Jul,Thursday,0,James Cameron,4762,Male,-42500000.0,8300000.0
4,587,44184,70000000,24,90000098,The Abyss,7.1,808,4762,1989,Aug,Wednesday,0,James Cameron,4762,Male,-87500000.0,-36700000.0

If the function is to be applied on another column then we use apply function

In [17]:
def func(x):
  x['risky']=x['budget']-x['revenue'].mean()>0
  return x

df= data.groupby('director_name').apply(func)

General apply function

In [19]:
df[['revenue','budget']].apply(np.sum,axis=0)

revenue    209866997305
budget      70353617179
dtype: int64

In [20]:
df[['revenue','budget']].apply(np.sum,axis=1)

0       3024965087
1       2045034188
2        620000000
3        493882411
4        160000098
           ...
1460      25288872
1461      19868437
1462       3000000
1463             0
1464       4436931
Length: 1465, dtype: int64

Restructuring of the data

In [22]:
from google.colab import files
uploaded=files.upload()

Saving weather.csv to weather.csv

In [23]:
weather = pd.read_csv("weather.csv")

In [24]:
weather.head()

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,17.573016,19.796815,22.412495,17.813163,20.165825,17.060539,22.736134,...,22.629226,19.013674,17.831558,17.018316,21.837387,19.700255,19.084056,18.534690,20.787275,21.117423
1,2018,1,min,22.725760,21.007865,17.730792,18.045290,20.766734,18.656651,22.607481,...,21.163491,17.371653,17.194530,18.964190,17.892385,17.646139,19.844125,22.729859,19.768917,20.913443
2,2018,2,max,19.015120,19.261805,17.510713,21.080425,17.915749,19.082145,18.056023,...,21.254968,20.346324,20.036019,22.926773,17.533172,20.308927,20.438899,17.005806,18.346534,20.878165
3,2018,2,min,18.653843,22.818600,21.842673,21.958159,22.523078,18.535469,19.636158,...,19.711974,20.586232,18.780840,20.065633,18.293548,20.823661,18.056112,22.748292,22.470172,18.602007
4,2018,3,max,20.741115,19.704016,17.039811,20.703908,22.714125,17.205000,19.079503,...,19.528963,19.563689,22.658997,22.446357,17.911240,22.591993,17.406800,19.118712,22.767154,17.119452

Restructuring of data

Melting wide format to long format

In [34]:
weather_melt=pd.melt(weather,
        id_vars=['year','month','element'],
        value_name='temp',
        var_name='day')

In [35]:
weather_melt.head()

   year  month element   day       temp
0  2018      1     max  day1  17.573016
1  2018      1     min  day1  22.725760
2  2018      2     max  day1  19.015120
3  2018      2     min  day1  18.653843
4  2018      3     max  day1  20.741115

In [37]:
weather_melt_pivot=weather_melt.pivot(index=['year','month','day'],
                   columns="element",
                   values="temp")

In [41]:
weather_melt_pivot.reset_index()

element  year  month    day        max        min
0        2018      1   day1  17.573016  22.725760
1        2018      1  day10  19.067288  19.931129
2        2018      1  day11  19.361002  22.598325
3        2018      1  day12  20.982134  17.715137
4        2018      1  day13  21.668005  17.940334
..        ...    ...    ...        ...        ...
336      2018     12   day5  21.375349  20.865535
337      2018     12   day6  17.992885  20.310116
338      2018     12   day7  19.683359  20.531823
339      2018     12   day8  20.477046  19.310346
340      2018     12   day9  20.210640  22.820992

[341 rows x 5 columns]

Converting continuous data to categorical data

In [45]:
labels=['16-18','18-20','20-22','22-24']
bins_edges=[16,18,20,22,24]
weather_melt_pivot['max category']=pd.cut(weather_melt_pivot['max'],labels=labels,bins=bins_edges
       )

In [1]:
from google.colab import files
uploaded=files.upload()

Saving UberDrives.csv to UberDrives.csv

In [2]:
data=pd.read_csv("UberDrives.csv")

NameError: ignored